<!DOCTYPE html>
<html>
<body>

  <link href="assets/style.css" rel="stylesheet" type="text/css" />

<h1>My First Heading</h1>

<% include partials/nav.ejs %>

<p><strong> Thanks for reaching out to us </p>
<p> You contacted the department <strong><%=data.dept%> </strong>and
  we will get back to you soon</p>

</body>
</html>
