<!DOCTYPE html>
<html>
<body>

  <link href="assets/style.css" rel="stylesheet" type="text/css" />

<h1>My First Heading</h1>

<% include partials/nav.ejs %>

<p><strong> Contact us at abcgmail.com</p>
<!-- <p> The requestsed department is <%=qs.dept%> </p> -->

<form id="contact-form" method="POST" action="/contact">
  <lable for = "department"> which department do u want to contact</label>
  <input type="text" name="dept" value="<%= qs.dept %>">
  <input type="submit" value="submit" />
</form>
</body>
</html>
